.row-topic-desc{
	padding: 2px 15px;
}
.topic-box{
	border: 1px solid #b2b2b2  ; border-radius: 5px;
}
.topic-profile-image{
	margin: 5px; border-radius: 5px;
}
.topic-meta-box{
	padding: 10px 28px
}
.topic-meta-box__subheads{
	color: #b2b2b2;
}
.topic-rating{
	color: yellow
}
.no-form-group-magin-bottom {
    margin-bottom: 0px;
}
.edit-panel-title {
    margin: 10px 0;
}
.edit-panel-form-input{
  margin-right: 10px;
  max-width: 180px;
  width: 93%;
}
.trending-topics{
	padding: 0;
}
.trending-topics > li{
  border-bottom: 1px solid #b2b2b2;
  margin: 10px 0;
}
.trending-topics > li:last-child{
  border-bottom: none;
}
.trending-topics-profile-img{
	margin: 5px 0;
    border-radius: 5px;
    max-width: 145px;
    height: auto;
}
.inbox .panel-body > .row{
	border-bottom: 1px solid #b2b2b2;
}

.inbox .panel-body > .row:last-child{
	border-bottom: none;
}

.row-noMargin{
    margin-left: 0;
    margin-right: 0;
}
.subscription-select{
    font-size: 12px;
    min-width: 85px;
}
.subscription-invite-btn{
    font-size: 22px;
    vertical-align: text-bottom;
}
.panel-body-overflow {
    padding: 15px;
    max-height: 450px;
    overflow-y: scroll;
}
.panel-body p, .panel-body h3, .panel-body h4, .panel-body h5, .panel-body h6 {
    margin: 5px 0;
    font-size: 14px;
}
.no-mar{
    margin: 5px 0;
}
fs-14{
    font-size: 14px;
}